BasedOnStyle: LLVM
Language: Cpp
Standard: c++20
ColumnLimit: 120
IndentWidth: 4
TabWidth: 4
UseTab: Never
NamespaceIndentation: All
BreakBeforeBraces: Attach
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
IndentCaseLabels: true
SortIncludes: true
IncludeBlocks: Regroup
FixNamespaceComments: false
