* text=auto

*.c       text eol=lf
*.cpp     text eol=lf
*.h       text eol=lf
*.hlsl    text eol=lf
*.hlsli   text eol=lf
*.cmake   text eol=lf
*.txt     text eol=lf
*.md      text eol=lf
*.qml     text eol=lf
*.qss     text eol=lf
*.json    text eol=lf
*.ts      text eol=lf
*.js      text eol=lf
*.mjs     text eol=lf
*.py      text eol=lf

*.png     binary
*.jpg     binary
*.jpeg    binary
*.hdr     binary
*.ttf     binary
*.exe     binary
